body{
  font-family: 'Quicksand', sans-serif;
}

.bg-teal {
  background-color: #42C2EB;
}

.text-teal {
  color: #42C2EB;
}

.bg-teal-dark {
  color: #1a4d5e;
}

#splash-img{
  background-image: url("../images/bike.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: absolute;
  width: 100%;
}
